<!DOCTYPE html>
<html ng-app="Hust:hubclass">
<head>
  <title>Hust互动课堂</title>
  <%= yield :assets %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'layouts/header' %>

<div id="wrap">
  <%= yield %>
</div>

<%= render :partial => 'layouts/footer' %>

</body>
</html>
